In [2]:
import pandas as pd
from pyvis.network import Network
import pyvis

pyvis.__version__

'0.3.2'

In [3]:
DATA_SOURCE = "../classification_script/out_swapped.csv"

In [4]:
df = pd.read_csv(DATA_SOURCE)

df.head()

   Unnamed: 0                                            comment  toxic
0           0  Нашёл как то работу отличную с зп в районе 50-...    0.0
1           1  просто я ватсаппом никогда не пользовался, а п...    0.0
2           2                          Что б он сам здох мразь\n    3.0
3           3  Э че бля а? Ты че нах бл иди сюда епты.. Ты за...    2.0
4           4  Я согласен, что энергия от ВИЭ на текущий моме...    0.0

In [10]:
df =  df.iloc[:, 1:]
df.head()

                                             comment  toxic
0  Нашёл как то работу отличную с зп в районе 50-...    0.0
1  просто я ватсаппом никогда не пользовался, а п...    0.0
2                          Что б он сам здох мразь\n    3.0
3  Э че бля а? Ты че нах бл иди сюда епты.. Ты за...    2.0
4  Я согласен, что энергия от ВИЭ на текущий моме...    0.0

In [63]:
df_to_graph = df.sample(40)

In [64]:
list(df_to_graph.index)

[251,
 775,
 911,
 207,
 535,
 191,
 908,
 458,
 388,
 367,
 886,
 418,
 859,
 240,
 613,
 648,
 428,
 513,
 117,
 33,
 803,
 934,
 687,
 32,
 626,
 132,
 731,
 808,
 854,
 796,
 197,
 759,
 41,
 43,
 659,
 974,
 347,
 905,
 989,
 52]

In [65]:
list(df_to_graph["comment"])[0]

'Твоя мать настолько жирная, что больше... про это шутеячка ? Я вижу так, для меня мама имеет большее значение чем вся та здоровая хуйня\n'

In [66]:
from itertools import combinations

In [67]:
net = Network(notebook=True, cdn_resources="remote")

net.add_nodes(
    list(df_to_graph.index),
    label=list(df_to_graph["comment"])
)

In [68]:
classes = df_to_graph["toxic"].unique()
classes

array([0., 1., 4., 3., 2.])

In [69]:
edges = []

for gr_name, df_gr in df_to_graph.groupby(by=["toxic"]):
    edges = edges + list(combinations(list(df_gr.index), 2))

edges

/var/folders/z_/pnpxs3hd3kj02hq03589yfq40000gn/T/ipykernel_71157/983649600.py:3: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for gr_name, df_gr in df_to_graph.groupby(by=["toxic"]):

[(251, 775),
 (251, 911),
 (251, 207),
 (251, 535),
 (251, 458),
 (251, 388),
 (251, 859),
 (251, 613),
 (251, 513),
 (251, 117),
 (251, 33),
 (251, 803),
 (251, 731),
 (251, 854),
 (251, 796),
 (251, 197),
 (251, 974),
 (251, 989),
 (251, 52),
 (775, 911),
 (775, 207),
 (775, 535),
 (775, 458),
 (775, 388),
 (775, 859),
 (775, 613),
 (775, 513),
 (775, 117),
 (775, 33),
 (775, 803),
 (775, 731),
 (775, 854),
 (775, 796),
 (775, 197),
 (775, 974),
 (775, 989),
 (775, 52),
 (911, 207),
 (911, 535),
 (911, 458),
 (911, 388),
 (911, 859),
 (911, 613),
 (911, 513),
 (911, 117),
 (911, 33),
 (911, 803),
 (911, 731),
 (911, 854),
 (911, 796),
 (911, 197),
 (911, 974),
 (911, 989),
 (911, 52),
 (207, 535),
 (207, 458),
 (207, 388),
 (207, 859),
 (207, 613),
 (207, 513),
 (207, 117),
 (207, 33),
 (207, 803),
 (207, 731),
 (207, 854),
 (207, 796),
 (207, 197),
 (207, 974),
 (207, 989),
 (207, 52),
 (535, 458),
 (535, 388),
 (535, 859),
 (535, 613),
 (535, 513),
 (535, 117),
 (535, 33),
 (535, 803),
 (535, 731),
 (535, 854),
 (535, 796),
 (535, 197),
 (535, 974),
 (535, 989),
 (535, 52),
 (458, 388),
 (458, 859),
 (458, 613),
 (458, 513),
 (458, 117),
 (458, 33),
 (458, 803),
 (458, 731),
 (458, 854),
 (458, 796),
 (458, 197),
 (458, 974),
 (458, 989),
 (458, 52),
 (388, 859),
 (388, 613),
 (388, 513),
 (388, 117),
 (388, 33),
 (388, 803),
 (388, 731),
 (388, 854),
 (388, 796),
 (388, 197),
 (388, 974),
 (388, 989),
 (388, 52),
 (859, 613),
 (859, 513),
 (859, 117),
 (859, 33),
 (859, 803),
 (859, 731),
 (859, 854),
 (859, 796),
 (859, 197),
 (859, 974),
 (859, 989),
 (859, 52),
 (613, 513),
 (613, 117),
 (613, 33),
 (613, 803),
 (613, 731),
 (613, 854),
 (613, 796),
 (613, 197),
 (613, 974),
 (613, 989),
 (613, 52),
 (513, 117),
 (513, 33),
 (513, 803),
 (513, 731),
 (513, 854),
 (513, 796),
 (513, 197),
 (513, 974),
 (513, 989),
 (513, 52),
 (117, 33),
 (117, 803),
 (117, 731),
 (117, 854),
 (117, 796),
 (117, 197),
 (117, 974),
 (117, 989),
 (117, 52),
 (33, 803),
 (33, 731),
 (33, 854),
 (33, 796),
 (33, 197),
 (33, 974),
 (33, 989),
 (33, 52),
 (803, 731),
 (803, 854),
 (803, 796),
 (803, 197),
 (803, 974),
 (803, 989),
 (803, 52),
 (731, 854),
 (731, 796),
 (731, 197),
 (731, 974),
 (731, 989),
 (731, 52),
 (854, 796),
 (854, 197),
 (854, 974),
 (854, 989),
 (854, 52),
 (796, 197),
 (796, 974),
 (796, 989),
 (796, 52),
 (197, 974),
 (197, 989),
 (197, 52),
 (974, 989),
 (974, 52),
 (989, 52),
 (886, 240),
 (886, 687),
 (886, 32),
 (886, 626),
 (886, 41),
 (886, 347),
 (240, 687),
 (240, 32),
 (240, 626),
 (240, 41),
 (240, 347),
 (687, 32),
 (687, 626),
 (687, 41),
 (687, 347),
 (32, 626),
 (32, 41),
 (32, 347),
 (626, 41),
 (626, 347),
 (41, 347),
 (367, 418),
 (367, 648),
 (367, 428),
 (367, 808),
 (367, 43),
 (367, 659),
 (418, 648),
 (418, 428),
 (418, 808),
 (418, 43),
 (418, 659),
 (648, 428),
 (648, 808),
 (648, 43),
 (648, 659),
 (428, 808),
 (428, 43),
 (428, 659),
 (808, 43),
 (808, 659),
 (43, 659),
 (908, 934),
 (908, 132),
 (908, 759),
 (908, 905),
 (934, 132),
 (934, 759),
 (934, 905),
 (132, 759),
 (132, 905),
 (759, 905)]

In [70]:
net.add_edges(
    edges
)

In [71]:
net.show("comments.html")

comments.html