In [1]:
!pip install rdflib

Requirement already satisfied: rdflib in /opt/conda/lib/python3.10/site-packages (7.0.0)
Requirement already satisfied: isodate<0.7.0,>=0.6.0 in /opt/conda/lib/python3.10/site-packages (from rdflib) (0.6.1)
Requirement already satisfied: pyparsing<4,>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from rdflib) (3.0.9)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from isodate<0.7.0,>=0.6.0->rdflib) (1.16.0)

In [2]:
import pandas as pd
from rdflib import Graph, Literal, RDF, RDFS, URIRef, Namespace
from rdflib.namespace import FOAF, XSD, GEO
import urllib.parse

In [3]:
players = pd.read_csv('/kaggle/input/knowledge-graph-go/df_players.csv')
players['Name'] = players['Name'].apply(lambda x: x.replace(' ', '_'))
players = players.fillna('-')

In [4]:
countries = {'kr': 'South_Korea', 
             'cn': 'China', 
             'tw': 'Taiwan', 
             'jp': 'Japan', 
             'us': 'USA', 
             'nl': 'Netherlands', 
             'ca': 'Canada', 
             'fr': 'France', 
             'de': 'Germany', 
             'hk': 'Hong_Kong', 
             'id': 'Indonesia',
             'gb': 'United_Kingdom', 
             'fi': 'Finland', 
             'sg': 'Singapore', 
             'ru': 'Russia', 
             'ro': 'Romania', 
             'rs': 'Serbia', 
             'pl': 'Poland', 
             'vn': 'Vietnam', 
             'ua': 'Ukraine', 
             'ar': 'Argentina',
             'sk': 'Slovak_Republic', 
             'il': 'Israel', 
             'my': 'Malaysia', 
             'th': 'Thailand', 
             'cz': 'Czech_Republic', 
             'se': 'Sweden', 
             'es': 'Spain', 
             'hu': 'Hungary', 
             'at': 'Austria', 
             'au': 'Australia', 
             'br': 'Brazil',
             '-': '-'
            }

In [5]:
players['Country'] = players['Flag'].apply(lambda x: countries[x])

In [6]:
players['Year of Birth'] = players['Date of Birth'].apply(lambda x: x.split('-')[0])

In [7]:
players

,Name,Rating,Sex,Flag,Wins,Losses,Total,Date of Birth,Country,Year of Birth
0,Shin_Jinseo,3866,man,kr,657,190,847,2000-03-17,South_Korea,2000
1,Park_Junghwan,3691,man,kr,893,365,1258,1993-01-11,South_Korea,1993
2,Wang_Xinghao,3678,man,cn,156,69,225,2004-02-02,China,2004
3,Gu_Zihao,3678,man,cn,314,192,506,1998-03-13,China,1998
4,Ke_Jie,3666,man,cn,575,247,822,1997-08-02,China,1997
...,...,...,...,...,...,...,...,...,...,...
2266,Tanimiya_Ayako,2371,woman,jp,0,15,15,1946-02-02,Japan,1946
2267,Tafu_Kae,2367,woman,jp,1,13,14,1971-03-13,Japan,1971
2268,Han_Cheolkyun,2358,man,kr,1,31,32,1955-01-04,South_Korea,1955
2269,Hashiguchi_Mika,2290,woman,jp,0,10,10,1963-09-19,Japan,1963
2270,Tanaka_Chieko,2267,woman,jp,4,21,25,1952-01-18,Japan,1952

In [8]:
parties = pd.read_csv('/kaggle/input/knowledge-graph-go/df_parties_tournaments.csv')

In [9]:
parties = parties[parties['Result'] == 'Win']

In [10]:
parties['Name'] = parties['Name'].apply(lambda x: x.replace(' ', '_'))
parties['Opponent'] = parties['Opponent'].apply(lambda x: x.replace(' ', '_'))

parties['Tournament'] = parties['Tournament'].apply(lambda x: x.replace(' ', '_'))

parties['Year'] = parties['Date'].apply(lambda x: x.split('-')[0])

In [11]:
parties

,Name,Date,Rating,Color,Result,Opponent,Opponent_Rating,Opponent_Sex,Opponent_Flag,Kifu,id_game,Tournament,Tournament_name,Year
1,Ando_Takeo,1976-01-14,2988,White,Win,Kodama_Kunio,2813,man,jp,http://www.go4go.net/go/games/sgfview/80685,80685,-,-,1976
7,Li_Chunhua,2016-08-28,2824,White,Win,Cai_Bihan,3084,woman,cn,http://www.go4go.net/go/games/sgfview/56828,56828,-,-,2016
8,Li_Chunhua,2016-08-14,2824,Black,Win,Zhang_Peipei,2993,woman,cn,http://www.go4go.net/go/games/sgfview/56439,56439,-,-,2016
20,Li_Chunhua,2008-11-29,2958,White,Win,Song_Ronghui,3073,woman,cn,http://www.go4go.net/go/games/sgfview/51932,51932,-,-,2008
22,Li_Chunhua,2007-10-29,2977,White,Win,Hyun_Mijin,2884,woman,kr,http://www.go4go.net/go/games/sgfview/16358,16358,-,-,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218675,Kim_Kieon,2023-08-16,3193,Black,Win,Kim_Sehyun,3147,man,kr,http://www.go4go.net/go/games/sgfview/110556,110556,-,-,2023
218677,Kim_Junghyun_(s),2023-08-16,3091,Black,Win,Oh_Byeongwoo,3108,man,kr,http://www.go4go.net/go/games/sgfview/110557,110557,-,-,2023
218684,Lee_Seoyoung,2023-09-15,2810,Black,Win,Ko_Miso,2851,woman,kr,http://www.go4go.net/go/games/sgfview/111180,111180,-,-,2023
218686,Lee_Seoyoung,2023-09-03,2811,Black,Win,Kim_Sangin,2876,woman,kr,http://www.go4go.net/go/games/sgfview/110907,110907,-,-,2023
218690,Kim_Minji,2023-09-26,3042,White,Win,Lee_Suljoo,2846,woman,kr,http://www.go4go.net/go/games/sgfview/111337,111337,-,-,2023

In [12]:
tournaments = pd.read_csv('/kaggle/input/knowledge-graph-go/df_winners.csv')

In [13]:
def get_country(tournament_name):
    tournament_country = {'Korean': 'South_Korea',
                          'Chinese': 'China',
                          'Japanese': 'Japan',
                          'Taiwan': 'Taiwan',
                          'Russian': 'Russia',
                          'Hiroshima Aluminum Cup': 'Japan',
                          'CCTV Cup': 'China',
                          'Tengzhou Cup': 'China',
                          'ACOM Cup All-Japan': 'Japan',
                          'BC Card Cup': 'South_Korea',
                          'Bailing Cup': 'China',
                          'China Eastern Airlines Cup': 'China',
                          'Cuibao Cup': 'China',
                          'Dachongjiu Cup': 'China',
                          'Daiwa-Shoken Cup (Female)': 'Japan',
                          'Fengxian New City Cup': 'China',
                          'Hanguk Kiwon Championship': 'South_Korea',
                          'Ibero Japan Cup': 'Japan',
                          'Kansai Female Tournament': 'Japan',
                          'Korea Senior Baduk League': 'South_Korea',
                          'Okage Cup World New Star Competition': 'Japan',
                          'Quzhou Lanke Cup': 'China',
                          'Kansai-Kiin 1st Place': 'Japan',
                          'Eikyu Cup': 'Japan',
                          'Japan Asia Airways Cup': 'Japan',
                          'AGA Professional Qualification Tournament': 'USA',
                          'Baosheng Cable Cup': 'China',
                          'Kuksu Mountains Tournament': 'China',
                          'City of Changsha Invitational': 'China',
                          'Weixing Cup': 'China',
                          'Baiyunshan Cup': 'China',
                          'Jinli Smartphone Cup': 'China',
                          'Zhangshu Cup': 'China',
                          'Yongzi Cup': 'China'
                          }
    for tournament, country in tournament_country.items():
        if tournament in tournament_name:
            return country
    return 'International'

In [14]:
tournaments['Country'] = tournaments['Tournament'].apply(lambda x: get_country(x))

In [15]:
tournaments['Tournament'] = tournaments['Tournament'].apply(lambda x: x.replace(' ', '_'))

tournaments['Winner'] = tournaments['Winner'].apply(lambda x: x.replace(' ', '_'))
tournaments['Runner-up'] = tournaments['Runner-up'].apply(lambda x: x.replace(' ', '_'))

tournaments['Year'] = tournaments['Date'].apply(lambda x: x.split('-')[0])

In [16]:
tournaments

,Tournament,Date,Tournament_name,Winner,Runner-up,Country,Year
0,10th_Asian_TV_Cup,1998-08-15,Asian TV Cup,Yoda_Norimoto,Ma_Xiaochun,International,1998
1,10th_Chinese_Agon_Cup,2008-10-29,Chinese Agon Cup,Gu_Li,Chang_Hao,China,2008
2,10th_Chinese_CCTV_Cup,1998-05-22,Chinese CCTV Cup,Cao_Dayuan,Ma_Xiaochun,China,1998
3,10th_Chinese_Changqi_Cup,2013-10-24,Chinese Changqi Cup,Shi_Yue,Lian_Xiao,China,2013
4,10th_Chinese_Jianqiao_Cup,2012-11-13,Chinese Jianqiao Cup,Wang_Chenxing,Rui_Naiwei,China,2012
...,...,...,...,...,...,...,...
2354,Year_2022_Korean_League,2023-06-25,Year 2022 Korean League,Park_Jinsol,Hong_Seongji,South_Korea,2023
2355,Year_2022_Korean_League,2023-06-25,Year 2022 Korean League,Kim_Seongjae,Kwon_Hyojin_(m),South_Korea,2023
2356,Year_2022_Korean_League,2023-06-25,Year 2022 Korean League,Kim_Junghyun,Kim_Changhoon,South_Korea,2023
2357,Year_2022_Korean_League,2023-06-25,Year 2022 Korean League,Shin_Jinseo,Byun_Sangil,South_Korea,2023
2358,Year_2023_Yongzi_Cup,2023-06-28,Year 2023 Yongzi Cup,Cho_Hunhyun,Takemiya_Masaki,China,2023

In [17]:
go_ontology = Namespace('http://example.org/go_ontology.owl/')
schema = Namespace('http://schema.org/')

In [18]:
gr_players = Graph()

for index, row in players.iterrows():
    player = URIRef(go_ontology + row['Name'])
    country = URIRef(go_ontology + str(row['Country']))
    
    gr_players.add((player, RDF.type, schema.Person))
    gr_players.add((country, RDF.type, schema.Country))
    
    gr_players.add((player, schema.representsTheCountry, country))
    
    gr_players.add((player, FOAF.name, Literal(row['Name'], datatype=XSD.string) ))
    
    if row['Date of Birth'] != '-':
        gr_players.add((player, schema.dateOfBirth, Literal(row['Date of Birth'], datatype=XSD.date) ))
        gr_players.add((player, schema.yearOfBirth, Literal(row['Year of Birth'], datatype=XSD.int) ))
    
    gr_players.add((player, schema.hasAGender, Literal(row['Sex'], datatype=XSD.string) ))
    gr_players.add((player, schema.hasARating, Literal(row['Rating'], datatype=XSD.int) ))
    gr_players.add((player, schema.totalPlayed, Literal(row['Total'], datatype=XSD.int) ))
    
    gr_players.add((country, schema.nameOfCountry, Literal(row['Country'], datatype=XSD.string)))

In [19]:
gr_parties = Graph()

for index, row in parties.iterrows():
    party = URIRef(go_ontology + str(row['id_game']))    
    gr_parties.add((party, RDF.type, schema.Party))
    gr_parties.add((party, schema.partyId, Literal(row['id_game'], datatype=XSD.int) )) 
    gr_parties.add((party, schema.partyDate, Literal(row['Date'], datatype=XSD.date) ))
    
    player = URIRef(go_ontology + row['Name'])
    gr_parties.add((player, RDF.type, schema.Person))
    gr_parties.add((party, schema.isWinner, player ))
    
    player = URIRef(go_ontology + row['Opponent'])
    gr_parties.add((player, RDF.type, schema.Person))
    gr_parties.add((party, schema.isLoser, player ))
    
    if row['Tournament'] != '-':
        tournament = URIRef(go_ontology + row['Tournament'])
        gr_parties.add((party, schema.playedInTournament, tournament ))
        
    gr_parties.add((party, schema.partyInTheYear, Literal(row['Year'], datatype=XSD.int) ))

In [20]:
gr_tournaments = Graph()

for index, row in tournaments.iterrows():
    tournament = URIRef(go_ontology + row['Tournament'])
    gr_tournaments.add((tournament, RDF.type, schema.Tournament))
    
    country = URIRef(go_ontology + str(row['Country']))
    gr_tournaments.add((country, RDF.type, schema.Country))
    
    gr_tournaments.add((tournament, schema.inTheCountry, country))
    
    player = URIRef(go_ontology + row['Winner'])
    gr_tournaments.add((player, RDF.type, schema.Person))
    gr_tournaments.add((tournament, schema.isChampion, player))
    
    player = URIRef(go_ontology + row['Runner-up'])
    gr_tournaments.add((player, RDF.type, schema.Person))
    gr_tournaments.add((tournament, schema.isRunnerup, player))
    
    gr_tournaments.add((tournament, schema.title, Literal(row['Tournament'], datatype=XSD.string) ))
    gr_tournaments.add((tournament, schema.inTheYear, Literal(row['Year'], datatype=XSD.int) ))

In [35]:
print(gr_players.serialize(format='turtle')[0:793])

@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix ns1: <http://schema.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/go_ontology.owl/Aaron_Ye> a ns1:Person ;
    ns1:hasAGender "man"^^xsd:string ;
    ns1:hasARating "2793"^^xsd:int ;
    ns1:representsTheCountry <http://example.org/go_ontology.owl/USA> ;
    ns1:totalPlayed "4"^^xsd:int ;
    foaf:name "Aaron_Ye"^^xsd:string .

<http://example.org/go_ontology.owl/Abe_Yoshiki> a ns1:Person ;
    ns1:dateOfBirth "1996-07-17"^^xsd:date ;
    ns1:hasAGender "man"^^xsd:string ;
    ns1:hasARating "2996"^^xsd:int ;
    ns1:representsTheCountry <http://example.org/go_ontology.owl/Japan> ;
    ns1:totalPlayed "89"^^xsd:int ;
    ns1:yearOfBirth "1996"^^xsd:int ;
    foaf:name "Abe_Yoshiki"^^xsd:string .

In [37]:
print(gr_parties.serialize(format='turtle')[0:706])

@prefix ns1: <http://schema.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/go_ontology.owl/1> a ns1:Party ;
    ns1:isLoser <http://example.org/go_ontology.owl/Kono_Rin> ;
    ns1:isWinner <http://example.org/go_ontology.owl/Cho_Chikun> ;
    ns1:partyDate "2000-08-21"^^xsd:date ;
    ns1:partyId "1"^^xsd:int ;
    ns1:partyInTheYear "2000"^^xsd:int .

<http://example.org/go_ontology.owl/10> a ns1:Party ;
    ns1:isLoser <http://example.org/go_ontology.owl/Rob_van_Zeijst> ;
    ns1:isWinner <http://example.org/go_ontology.owl/Alexander_Dinerchtein> ;
    ns1:partyDate "2008-10-14"^^xsd:date ;
    ns1:partyId "10"^^xsd:int ;
    ns1:partyInTheYear "2008"^^xsd:int .

In [23]:
print(gr_tournaments.serialize(format='turtle')[0:828])

@prefix ns1: <http://schema.org/> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

<http://example.org/go_ontology.owl/10th_Asian_TV_Cup> a ns1:Tournament ;
    ns1:inTheCountry <http://example.org/go_ontology.owl/International> ;
    ns1:inTheYear "1998"^^xsd:int ;
    ns1:isChampion <http://example.org/go_ontology.owl/Yoda_Norimoto> ;
    ns1:isRunnerup <http://example.org/go_ontology.owl/Ma_Xiaochun> ;
    ns1:title "10th_Asian_TV_Cup"^^xsd:string .

<http://example.org/go_ontology.owl/10th_Chinese_Agon_Cup> a ns1:Tournament ;
    ns1:inTheCountry <http://example.org/go_ontology.owl/China> ;
    ns1:inTheYear "2008"^^xsd:int ;
    ns1:isChampion <http://example.org/go_ontology.owl/Gu_Li> ;
    ns1:isRunnerup <http://example.org/go_ontology.owl/Chang_Hao> ;
    ns1:title "10th_Chinese_Agon_Cup"^^xsd:string .

In [24]:
gr_res = gr_parties + gr_players + gr_tournaments

In [25]:
gr_res.serialize('res.ttl',format='turtle')

### Как зовут игрока с самым высоким рейтингом? Из какой он страны?

In [26]:
knows_query = """
SELECT DISTINCT ?rating ?name ?countryname
WHERE {
    ?Person ns1:hasARating ?rating .
    ?Person foaf:name ?name .
    ?Person ns1:representsTheCountry ?Country .
    ?Country ns1:nameOfCountry ?countryname .
}
ORDER BY DESC(?rating)
LIMIT 1"""

qres = gr_res.query(knows_query)
for row in qres:
    print(f"{row.name}, {row.countryname} ({row.rating})")

Shin_Jinseo, South_Korea (3866)

### Кто самый титулованный игрок в мире?

In [27]:
knows_query = """
SELECT ?Person ?name (COUNT(?name) AS ?count)
WHERE {
    ?Tournament ns1:isChampion ?Person .
    ?Tournament ns1:title ?title .
    ?Person foaf:name ?name .
}
GROUP BY ?Person
ORDER BY DESC(?count)
LIMIT 1
"""

qres = gr_res.query(knows_query)
for row in qres:
    print(f"{row.name} - выиграл в {row['count']} турнирах")

Lee_Changho - выиграл в 136 турнирах

### В каком году родился Ли Чхан Хо (Lee Changho)?

In [28]:
knows_query = """
SELECT ?name ?year
WHERE {
    ?Person foaf:name ?name .
    ?Person ns1:yearOfBirth ?year .
    FILTER (regex(?name,"Lee_Changho")) .
}
"""

qres = gr_res.query(knows_query)
for row in qres:
    print(f"{row.name} родился в {row.year} году")

Lee_Changho родился в 1975 году

### Кто самый молодой игрок, побеждавший Ли Чхан Хо (Lee Changho)?

In [29]:
knows_query = """
SELECT DISTINCT ?name_win ?date
WHERE {
    ?Person_win foaf:name ?name_win .
    ?Party ns1:isWinner ?Person_win .
    ?Party ns1:isLoser ?Person_lose .
    ?Person_lose foaf:name ?name_lose .
    ?Person_win ns1:dateOfBirth ?date .
    FILTER (regex(?name_lose,"Lee_Changho")) .
}
ORDER BY DESC(?date)
LIMIT 1
"""

qres = gr_res.query(knows_query)
for row in qres:
    print(f"{row.name_win}, {row.date}")

Kim_Seunggu, 2006-06-13

### Количество партий по годам за последние 30 лет, сыгранных между про-игроками из Японии

In [30]:
knows_query = """
SELECT ?Party ?year (COUNT(?year) AS ?count)
WHERE {
    ?Party ns1:partyInTheYear ?year .
    ?Party ns1:isWinner ?Person_win .
    ?Person_win ns1:representsTheCountry ?Country_win .
    ?Country_win ns1:nameOfCountry ?countryname_win .
    ?Party ns1:isLoser ?Person_lose .
    ?Person_lose ns1:representsTheCountry ?Country_lose .
    ?Country_lose ns1:nameOfCountry ?countryname_lose .
    FILTER ((?year > 2003) 
            && (regex(?countryname_win,"Japan"))
            && (regex(?countryname_lose,"Japan"))) .
}
GROUP BY ?year
ORDER BY ?year
"""

qres = gr_res.query(knows_query)
for row in qres:
    print(f"{row.year} - {row['count']}")

2004 - 564
2005 - 698
2006 - 837
2007 - 933
2008 - 1017
2009 - 990
2010 - 942
2011 - 918
2012 - 948
2013 - 987
2014 - 1205
2015 - 1215
2016 - 1189
2017 - 1184
2018 - 1271
2019 - 1334
2020 - 1295
2021 - 1359
2022 - 1231
2023 - 1158